*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins";
    margin:0
}
.portfolio-title{
    font-size:38px;
    margin: 40px 0 0 0;
    text-align: center;
}
.portfolio-description{
    font-size:24px;
    margin:0;
    text-align:center;
    margin:7px 0 0 0;
    
}
.portfolio-content{
    margin-top:20px;
    padding: 40px;
    display:grid;
    gap: 40px
}
@media(min-width:960px){
    .portfolio-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.portfolio-card{
    border: solid 2px black;
    border-radius: 4px;

}

.portfolio-img{
   height: 255px;
   object-fit: cover;
   width: 100%

    
}
.portfolio-card-content{
    padding:20px
}
.portfolio-card-title{
    font-size:30px;
    text-align:center;
    margin:0

}
.portfolio-card-text{
    margin:0;
    text-align: center;
    font-size:18px
}
.portfolio-card-link{
    color: #51AFF3;
    display:block;
    text-align: right;
    margin-top:20px
}